[submodule "src/diff-surfel-rasterization/third_party/glm"]
	path = src/diff-surfel-rasterization/third_party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third_party/openpi"]
	path = third_party/openpi
	url = git@github.com:Physical-Intelligence/openpi.git
[submodule "src/curobo"]
	path = src/curobo
	url = https://github.com/DavidZ2851/curobo.git
[submodule "src/diff-gaussian-rasterization"]
	path = src/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
